

.scrollable-panel{
    height: 75vh;
    overflow:auto;
}

.usern {
    color: rgb(150, 150, 150);
}

#navb {
    float: right;
}

#chat {
    
    color: gray;
}

#chat {
    background-color: whitesmoke;
}